/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
/* Esconde o texto do botão por padrão */
.wc-block-cart__submit-button .wc-block-components-button__text {
    visibility: hidden;
}

/* Só mostra quando o JS adicionar a classe na tag <html> */
html.soda-checkout-ready .wc-block-cart__submit-button .wc-block-components-button__text {
    visibility: visible;
}


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}

